.buttonContainer {
    height: 50vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}

.buttonContainer button {
    color: #000000;
    background-color: transparent;
    border: 0;
}

.searchButton {
    grid-row: 1/2
}

.filterButton {
    grid-row: 2/3
}

.createButton {
    grid-row: 3/4
}